/* Container for Login Form */
.login-container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 90vh;
  }
  
  /* Heading */
  .login-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Form Styling */
  .login-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  /* Input Fields */
  .login-form input[type="email"],
  .login-form input[type="password"] {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  }
  
  /* Submit Button */
  .login-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .login-container {
      padding: 15px;
    }
  
    .login-form input[type="email"],
    .login-form input[type="password"],
    .login-form button {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .login-form input[type="email"],
    .login-form input[type="password"],
    .login-form button {
      font-size: 12px;
      padding: 10px;
    }
  }
  